header{

    padding: 50px;
    font-size: 40px;
    font-family: 'Silkscreen', sans-serif;
   
}

body {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    width: 100vw;
    height: 100vh;
    background-color: #2f3542;
    color:white;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #2f3542;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling on the body */
}


.container{
    display: grid;
    grid-template-columns: repeat(3,auto);
    overflow: hidden;
  }




.xobox{

    width: 100px;
    height: 100px;
    border: 2px solid #68c0ec;
    box-shadow: 0 0 0 2px #ec68be;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;

}

.xobox img {
    max-width: 100%; 
    max-height: 100%; 
  }

#gamestatus{

    padding: 50px;
    font-size: 40px;
}

button{
    background-color:#ec68be;
    width: 160px;
    height: 50px;
    color: black;
    border: 2px solid rgba(63,94,251,1);
    box-shadow: 0 0 0 2px #ec68be;
    font-size: 20px;
    
}

button:hover {
    background-color:white;
    transition: 0.7s;
}


/* Media queries for responsiveness */
@media screen and (min-width: 600px) {
    header {
        font-size: 32px;
    }
}

@media screen and (min-width: 768px) {
    header {
        font-size: 40px;
    }
}


@media screen and (min-width: 280px) and (max-width: 840px) {
    header {
        font-size: 24px;
    }

    .xobox {
        width: 60px;
        height: 60px;
        font-size: 14px;
    }

    button {
        width: 100px;
        height: 30px;
        font-size: 14px;
    }
    body {
        overflow: hidden; /* Prevent scrolling on the body */
    }
}

